[func_test]
auth_port = {rgw-port}
auth_prefix = /auth/
auth_ssl = no
account = john.client.0
username = john
email = john.client.0+test@test.test
display_name = Mr.john.client.0 john
password = myw9+hB9POJ9t5YHitUYr+I9nlnV141JUKOHlmnUYC/1yXMEphFrkQ==
account2 = rob.client.0
username2 = rob
email2 = rob.client.0+test@test.test
display_name2 = Mr.rob.client.0 rob
password2 = Rp0ATe1Dcy/0KcrUxoyevSNiU+OwpFXNPriCvxplciolw0MeffP/ug==
auth_host = {rgw-host}.suse.de
